.order-page {
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
}

.order-page .order-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.order-page .order-left {
  width: 860px;
  height: auto;
  margin-top: 9px;
}

.order-page .order-right {
  width: 360px;
  height: auto;
  margin-top: 86px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.order-page .order-right .order-box-info {
  width: 360px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f8ff;
  box-shadow:
    15px 14px 4px rgba(0, 0, 0, 0.25),
    inset -1px 0px 16px 13px rgb(24 23 112 / 20%);
  border-radius: 16px;
  margin-bottom: 25px;
}
.order-page .order-right .order-box-info .member-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-page .order-right .member-box .user-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.order-page .order-right .member-box .user-image .order-user-avatar {
  width: 112px;
  height: 112px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.order-page .order-right .member-box .order-user-icon-box {
  position: absolute;
  padding: 5px;
  width: 30px;
  height: 30px;
  top: 80%;
  right: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.33);
  border-radius: 50%;
}

.order-page .order-right .member-box .user-name {
  text-align: center;
  font-size: 24px;
  font-style: bold;
  font-weight: 700;
  line-height: 30px;
}

.order-page .order-right .member-box .user-type {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: #aca5a5;
  margin: 0;
}

.order-page .order-right .member-box .line {
  width: 100%;
  margin-top: 40px;
  border: 1px solid gray;
}
.order-page .order-right .member-box .location {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.order-page .order-right .user-card-info {
  width: 360px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f8ff;
  box-shadow:
    15px 14px 4px rgba(0, 0, 0, 0.25),
    inset -1px 0px 16px 13px rgb(24 23 112 / 20%);
  border-radius: 16px;
  margin-bottom: 25px;
}

.order-page .order-right .user-card-info .cardNumber {
  width: 100%;
  display: flex;
  height: 30px;
  border-radius: 5px;
  border: 1px beige;
  margin-top: 14px;
  margin-bottom: 14px;
}
.order-page .order-right .user-card-info .card-second-inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 30px;
  margin-bottom: 14px;
  gap: 1px;
  justify-content: space-between;
}

.order-page .order-right .user-card-info .card-second-info {
  border-radius: 5px;
  width: 49%;
  border: 10px rgb(49, 49, 2);
}
.order-page .order-right .user-card-info .cardUser {
  width: 100%;
  display: flex;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 14px;
  border: 1px beige;
}

.order-page .order-right .user-card-info .card-types-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

/*paused*/

.order-page .order-main-box {
  display: flex;
  flex-direction: column;
  width: 800px;
  border: 1px solid;
  background: #f8f8ff;
  box-shadow:
    15px 14px 4px rgba(0, 0, 0, 0.25),
    inset -1px 0px 16px 13px rgb(24 23 112 / 20%);
  border-radius: 16px;
  padding: 25px;
  margin: 5px;
}

.order-page .order-main-box .order-box-scroll {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-main-box .order-box-scroll .orders-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-main-box .order-box-scroll .orders-name-price .order-dish-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.order-main-box .order-box-scroll .orders-name-price .dish-title {
  text-align: center;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 10px;
}
.order-main-box .order-box-scroll .orders-name-price .price-box {
  display: flex;
  flex-direction: row;
  margin-left: 480px;
}

.order-main-box .total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.order-main-box .total-price .buttons {
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.order-main-box .total-price .buttons .cancel-button {
  background-color: #d7b586;
  font-weight: bold;
}

.order-main-box .total-price .buttons .payment-button {
  background-color: #45c27d;
  font-weight: bold;
  color: white;
}

.order-main-box .total-price .process-button .fulfill-button {
  background-color: rgb(184, 184, 234);
}

.order-main-box .total-price .moment {
  font-size: 12px;
}
