.products-page .products {
  width: 100%;
  height: auto;
  display: flex;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
}

.products .avatar-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.products .avatar-box .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  text-align: center;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  color: #000;
  margin-left: 300px;
}
.products .avatar-box .search {
  width: 310px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: -3px;
  border-radius: 20px;
}

.products .dishes-filter-section {
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.products .dishes-filter-section .dishes-filter-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 18px;
}

.products .list-category-section {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: row;
}

.products-page .products .product-category {
  margin-top: 60px;
  width: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products .list-category-section .product-category .category-main {
  position: relative;
  transform: rotate(-90deg);
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  margin-top: 40px;
}
.products-page .product-category .category-main button {
  min-width: auto;
  margin-right: 10px;
}

/**/
.products .list-category-section .products-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-left: 24px;
  flex-wrap: wrap;
}
.products .list-category-section .products-wrapper .product-card {
  width: 270px;
  height: auto;
  display: flex;
  margin-top: 40px;
  margin-right: 24px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.products .product-wrapper .no-data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
}

.products-page .products .product-card .product-img {
  position: relative;
  width: 273px;
  height: 275px;
  background-size: cover;
  border-radius: 0px 50px 0px 0px;
}

.products-page .products .product-img .product-sale {
  margin: 10px;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9200;
  box-shadow: 4px 6px 20px #0000001a;
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  color: #ffffff;
}

.products-page .products .product-card .product-desc {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.products-page .products .product-desc .product-title {
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.products-page .products .product-desc .product-desc {
  margin-top: 2px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #e3c08d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.products-page .products .product-img:before {
  border-radius: 0px 50px 0px 0px;
  content: "";
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.products-page .products .product-img:hover:before {
  border-radius: 0px 50px 0px 0px;
  opacity: 1;
}

.products-page .products .product-img img {
  position: absolute;
  max-width: 100%;
  display: block;
  height: auto;
  z-index: 1;
}

.products-page .products .shop-btn {
  position: absolute;
  padding: 20px;
  top: 217px;
  width: 64px;
  height: 46px;
  transition: opacity 0.5s ease;
  background: rgb(198 0 255 / 66%);
  border: 2px solid #d7b686;
  left: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #f8f8ff;
}

.products-page .products .product-img:hover .shop-btn {
  opacity: 1;
}

.products-page .products .product-img:hover .view-btn {
  opacity: 1;
}

.products-page .products .view-btn {
  position: absolute;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  top: 223px;
  padding: 5px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.products-page .products .pagination-section {
  position: relative;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.products-page .products .brands-logo {
  margin-top: 60px;
  display: flex;
  width: 100%;
  height: 630px;
  background-color: #0d1518;
}

.products-page .products .brands-logo .brands {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .products .brands-logo .category-title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #d7b686;
}

.products-page .products .brands-logo .brands .brand-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products-page .products .brands-logo .review-box {
  margin-top: 40px;
  padding: 20px;
  display: flex;
  width: 260px;
  height: 350px;
  object-fit: fill;
  box-shadow: 0px -1px 12px 5px #c8b3b340;
  border-radius: 20px;
}

.products-page .products .brands-logo .review-img {
  width: 110px;
  height: 110px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 37px;
}
